[
    {
        "op": "replace",
        "path": "environments/dev/deployPhases/0/workflowTasks/7/inputs/kubernetesServiceEndpoint",
        "value": "5f20f095-6eac-43c3-9a16-027c51f62d76"
    },
    {
        "op": "replace",
        "path": "environments/qa/deployPhases/0/workflowTasks/7/inputs/kubernetesServiceEndpoint",
        "value": "b9d34623-2ae7-4dea-b894-36c880a25bea"
    }
    
]